<h4> Table of contents </h4>
{{> toc }}

<hr>

<h4> More inside {{lookup (lookup collectionInfo collection.[0]) "title"}} </h4>
{{> collection_index value=(lookup collections collection) key=collection.[0] }}
