 <ul>
  {{#each value as |fvalue fkey|}}
    {{#isnt fvalue.title (lookup (lookup fvalue.collectionInfo ../key) "title")}}
      <li> <a href="{{../config.baseURL}}/{{fvalue.path}}">{{fvalue.title}}</a> </li>
    {{/isnt}}
  {{/each}}
</ul>
