<nav>
  <ul class="pager">
    {{#if previous}}
      <li> <a href="{{config.baseURL}}/{{previous.path}}">Previous</a> </li>
    {{/if}}

    {{#if next}}
      <li> <a href="{{config.baseURL}}/{{next.path}}">Next</a> </li>
    {{/if}}
  </ul>
</nav>