{{#if toc}}
  <ol class="list-unstyled">
    {{#each toc as |item key|}}
      <li> <a href="#{item.id}"> {{item.text}} </a> </li>
      {{#if item.children.length}}
        <ol class="list-unstyled">
          {{#each item.children as |itemC keyC| }}
            <li> <a href="#{itemC.id}"> {{itemC.text}} </a> </li>
          {{/each}}
        </ol>
      {{/if}}
    {{/each}}
  </ol>
{{/if}}