<!doctype html>
<html>

  <head>
    <title>{{title}}</title>
  </head>

  <header>
    <title>{{title}}</title>
  </header>

  <nav>
    {{> navbar }}
  </nav>

  <article>
    {{{contents}}}
  </article>

  <aside>
    Inside this collection...
    {{> collection_index }}
  </aside>

</html>
