<!doctype html>
<html>

  <head>
    {{> head}}
  </head>

  <header>
    <title>{{title}}</title>
  </header>

  {{> navbar }}

  <article>
    {{{contents}}}
  </article>

  <aside>
    {{> full_index }}
  </aside>

  <footer>
    {{> time_last_changed }}
  </footer>

</html>
